version: "3.9"

services:
  gateway:
    build:
      context: .
      dockerfile: Gateway.Api/Dockerfile
    container_name: gateway-api
    ports:
      - "5000:8080"       # http://localhost:5000 -> контейнерный 8080
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - fileservice
      - analysis

  fileservice:
    build:
      context: .
      dockerfile: FileService.Api/Dockerfile
    container_name: fileservice-api
    ports:
      - "5001:8080"       # http://localhost:5001
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
    # Если хочешь сохранять файлы между рестартами — раскомментируй volume
    # volumes:
    #   - files_data:/app/Data

  analysis:
    build:
      context: .
      dockerfile: AnalysisService.Api/Dockerfile
    container_name: analysis-api
    ports:
      - "5002:8080"       # http://localhost:5002
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development

# Если будешь использовать volumes для SQLite/файлов
# volumes:
#   files_data:
